





















figure figcaption {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
}

.project__description-span {
  color: var(--gray);
  line-height: 1.8;
  letter-spacing: 0.03em;
  font-size: 16px;
}

.project__description{
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;

}






/*h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}*/

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color:var(--gray);
}
.section__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
  display: block;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}














ul {
  list-style-type: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,



h2 {
  text-align: center;
  padding-bottom: 50px;
  display: block;
}


.project__description {
  display: block;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}








.menu-portfolio__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.projects-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
  flex-basis: calc((100% - 60px) / 3);
}

























.social-list__icon {
  width: 44px;
  height: 44px;
  gap: 10px;
  border-radius: 50%;
}


.box-hover:hover {
  box-shadow: var(--box-shadow); 
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);;
}










.nav__menu--active {
  position: relative;
}

.nav__menu--active::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  width: 53px;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
}

.box {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
}
.box-hover:hover .overlay {
  transform: translateY(0);
  transition: transform 250ms ease;
}
.overlay__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white);
  padding-top: 49px;
  padding-left: 24px;
  padding-bottom: 49px;
  padding-right: 45px;
}






















.button--input {
  text-align: center;
  margin-top: 30px;
  line-height: 30px;
}

