.newsletter {
    width: 570px;
    /*margin-top: 77px;
    margin-bottom: 89px; */
    color: var(--white);
    height: 86px;
  }

  .newsletter_tiitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  