.project-box {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 294px;
  }
  .project-box-hover:hover {
    box-shadow: var(--box-shadow); 
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);;

        &:hover .overlay {
        transform: translateY(0);
        transition: transform 250ms ease;
        }
}

    
