.section {
    padding: 0 0 94px 0;
    margin: 0 auto;
  
  .section__tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 50px;
    display: block;
  }
}